.recipePageMain {
  animation: fadeIn 1s ease-in-out;
  display: grid;
  place-items: center;
  height: 100vh;
}

.API-message p {
  color: rgb(47, 126, 243);
  padding: 0.1em;
  margin: 0.1em;
}

.recipePageMain .recipe {
  width: 100%;
  height: 100%;
  height: 100vh;
  display: flex;
}

.recipe-image {
  animation: fadeIn 1.5s ease-in-out;
  flex: 1;
}

.recipe-image img {
  object-fit: cover;
  place-items: center;
  width: 100%;
  height: 100%;
}

#restartButton {
  position: fixed;
  z-index: 10;
  top: 1em;
  left: 1em;
  border: none;
}

.recipe-text {
  animation: fadeIn 2s ease-in-out;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2em;
  place-items: center;
  padding-bottom: 3em;
  overflow: auto;
  max-height: 100%;
  padding-top: 4em;
}

.recipePageMain h1 {
  margin: 0px;
  line-height: 1.15;
  margin-bottom: 0.05em;
  width: 100%;
}

.recipePageMain h2 {
  font-size: 1.15em;
  margin: 0.5em;
  margin-bottom: 5px;
  padding: 0;
  line-height: 1.15;
  min-width: fit-content;
}

.recipePageMain ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  margin-top: 1em;
}

.recipePageMain li {
  min-width: fit-content;
  display: flex;
  vertical-align: middle;
  padding: 0px 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.recipePageMain .recipe p {
  padding: 0px;
  margin: 0px;
  padding-top: 5px;
}

.message {
  padding: 1em;
}

.recipe .recipe-text .message p {
  font-weight: 600;
  font-style: italic;
  font-family: "Inter", sans-serif;
  color: rgb(47, 126, 243);
}

@media (max-width: 655px) {
  .recipePageMain .recipe {
    height: fit-content;
    flex-direction: column;
  }

  .recipe-text {
    padding-top: 1em;
  }
}
