body {
  min-height: fit-content;
}

.requestRecipePageMain {
  animation: fadeIn 1s ease-in-out;
  display: grid;
  place-items: center;
  height: 100vh;
  min-height: fit-content;
}

.requestRecipePageMain h1 {
  margin: 0px;
}

.requestRecipePageMain h2 {
  margin: 0.5em;
  line-height: 1.15;
}

#ingredientsInputSection {
  margin-bottom: 1.5em;
}

#categoriesInputSection {
  margin-bottom: 1em;
}

.recipeInput {
  padding-top: 0.5em;
  display: flex;
  place-content: center;
}

#requestRecipePage ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  place-content: center;
  flex-direction: row;
  padding-left: 1.5em;
  width: fit-content;
}

#requestRecipePage li {
  list-style-image: url("/public/check.png");
  margin-left: 0.5em;
  max-width: fit-content;
  margin-bottom: 5px;
  vertical-align: middle;
  margin: 20px;
  padding: 0;
}

@media (max-width: 655px) {
  #requestRecipePage ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }

  #requestRecipePage li {
    list-style-image: url("/public/check.png");
    margin-left: 0.5em;
    max-width: fit-content;
    margin-bottom: 5px;
    vertical-align: middle;
    margin: 10px;
    padding: 0;
    margin-left: 15px;
  }
}
