.dark-theme {
  transition: 1s ease;
  color: white;
  background-color: rgb(14, 14, 14);

  #toggleThemeButton {
    background: url('../assets/toggle-mode-button-white.png') no-repeat;
    background-size: contain;
  }
}
