.dark-theme {
  transition: 1s ease;
  color: rgb(255, 255, 255);
  background: linear-gradient(
    to bottom,
    rgba(30, 37, 48, 0.95),
    rgba(16, 32, 69, 0.85)
  );
  background-color: #242424;

  #toggleThemeButton {
    background: url("../assets/toggle-mode-button-white.png") no-repeat;
    background-size: contain;
  }

  #welcome-image {
    opacity: 0.98;
  }

  #welcome-text h1 {
    color: #4f9bec;
  }

  #welcome-text .input-area input {
    color: #4498f4;
    background-color: #1d2a47;
  }

  input::placeholder {
    color: #4498f4;
    opacity: 0.65;
  }
}
