.light-theme {
  transition: 1s ease;
  color: rgb(45, 45, 45);
  background-color: rgb(255, 255, 255);

  #toggleThemeButton {
    background: url("../assets/toggle-mode-button.png") no-repeat;
    background-size: contain;
  }

  #welcome-image {
    opacity: 1;
  }

  #welcome-text h1 {
    color: #4498f4;
  }

  #welcome-text .input-area input {
    background-color: white;
  }

  input {
    color: #4498f4;
    background: #fff;
  }

  input::placeholder {
    color: #4498f4;
  }
}
