@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.light-theme {
  transition: 1s ease;
  color: rgb(45, 45, 45);
  background-color: rgb(255, 255, 255);

  #toggleThemeButton {
    background: url('../assets/toggle-mode-button.png') no-repeat;
    background-size: contain;
  }

  #welcome-image {
    animation: fadeIn 1.5s ease-in-out;
    opacity: 1;
  }

  #welcome-text h1 {
    color: #4498F4;
  }

  #welcome-text .input-area input {
    background-color: white;
  }
}
