/* 
font-family: 'Inter', sans-serif; */

:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100vh;
}

#root {
  border: solid 5px red;
  /* max-width: 1920px; */
  width: 100%;
  height: 100%;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

main {
  /* border: 5px purple solid; */
  display: flex;
  place-items: center;
  width: 100%;
  height: 100%;
}

#toggleThemeButton {
  position: fixed;
  top: 2em;
  right: 2em;
  width: 2em;
  height: 2em;
  border: none;
  /* background: url('../assets/toggle-mode-button.png') no-repeat;
  background-size: contain; */
}

#welcome-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 3em;
  place-items: center;
  /* border: 5px green solid; */
}

#nameInput {
  margin: 0.5em;
}

.text-button {
  font-family: Inter, sans-serif;
  font-size: 1em;
  width: fit-content;
  margin: 0.5em;
  padding: 1em;
  border-radius: 0.5em;
  border: none;
  background-color: orange;
}

#welcome-image {
  /* border: 5px red solid; */
  flex: 1;
  width: 100%;
  height: 100%;
}

#welcome-image img {
  /* border: 2px solid orange; */
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Media query for medium-sized screens */
/* @media (max-width: 768px) {
} */

/* Media query for small screens */
@media (max-width: 576px) {
  main {
    flex-direction: column;
  }
}