/* 
font-family: 'Inter', sans-serif; */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

:root {
  font-family: Inter, sans-serif;
  line-height: 1.45;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  animation: fadeIn 1.5s ease-out;
}

body {
  /* border: solid 5px brown; */
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100vh;
}

#root {
  /* border: solid 5px red; */
  /* max-width: 1920px; */
  width: 100%;
  height: 100%;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

main {
  /* border: 5px purple solid; */
  display: flex;
  place-items: center;
  width: 100%;
  height: 100%;
}

#toggleThemeButton {
  position: fixed;
  top: 2em;
  right: 2em;
  width: 2em;
  height: 2em;
  border: none;
  /* background: url('../assets/toggle-mode-button.png') no-repeat;
  background-size: contain; */
}

/* .emojis #eggs {
  position: fixed;
  top: 75%;
  right: 30%;
  width: 13em;
  height: 13em;
}

.emojis img {
  width: 100%;
  height: 100%;
  object-fit: contain;
} */

#welcome-text {
  animation: fadeIn 2s ease-in-out;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 3em;
  place-items: center;
  /* border: 5px green solid; */
}

#welcome-text h1 {
  font-size: 1.75em;
  margin-bottom: 0.05em;
}

#welcome-text #logo {
  /* border: 5px green solid; */
  animation: fadeIn 1.5s ease-in-out;
  flex: 2;
  margin: 1em;
  width: 100%;
  max-width: 290px;
  height: 100%;
}

#welcome-text #logo img {
  /* border: 2px solid orange; */
  /* animation: fadeIn 1.5s ease-in-out; */
  object-fit: contain;
  width: 100%;
  height: 100%;
}

#welcome-text .error-message {
  font-size: 0.75em;
  animation: fadeIn 1.5s ease-out; /* Adjust the duration and timing function as needed */
}

label {
  min-width: 305px;
  margin-bottom: 0.15em;
}

input {
  margin: 0.5em;
  padding: 0.7em;
  font-family: Inter, sans-serif;
  font-size: 0.95em;
  width: 15em;
  text-align: center;
  border: none;
  border-radius: 0.5em;
  box-shadow: 2px 4.5px 5px 0.5px rgba(4, 6, 12, 0.15);
}

.text-button {
  font-family: Inter, sans-serif;
  font-size: 0.85em;
  width: fit-content;
  margin: 0.5em;
  padding: 0.75em 1em;
  border-radius: 0.5em;
  border: none;
  background-color: orange;
}

#welcome-image {
  /* border: 5px green solid; */
  animation: fadeIn 1.5s ease-in-out;
  flex: 2;
  display: flex;
  width: 100%;
  height: 100%;
}

#welcome-image img {
  /* border: 2px solid orange; */
  object-fit: cover;
  place-items: center;
  width: 100%;
  height: 100%;
}

/* Media query for medium-sized screens */
/* @media (max-width: 768px) {
} */

/* Media query for small screens */
@media (max-width: 655px) {
  :root {
    font-size: 17px;
  }

  main {
    flex-direction: column;
  }

  #welcome-image {
    /* flex: 1; */
    width: 100%;
    height: 50vh;
  }

  #welcome-text {
    /* border: blue solid 5px; */
    height: 50vh;
    padding-top: 0em;
    padding-bottom: 1.5em;
    /* flex: 1; */
  }

  #welcome-text h1 {
    margin-top: 0.25em;
  }

  #welcome-text #logo {
    /* border: 5px green solid; */
    /* flex: 2; */
    margin-top: 0.15em;
    margin-bottom: 0em;
    /* width: 100%; */
    max-width: 300px;
    /* height: 100%; */
  }
  
  #welcome-text #logo img {
    /* border: 2px solid orange; */
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  #welcome-text label {
    font-size: 0.95em;
    /* margin: 0.15em; */
    margin-bottom: 0.25em;
  }

  #welcome-text .input-area {
    display: flex;
    /* min-width: 325px; */
  }

  #welcome-text .input-area .text-button {
    margin: 0.25em;
  }

  #welcome-text .input-area input {
    max-width: 225px;
    margin: 0.25em;
  }
  
  /* input {
    margin: 0.5em;
    padding: 0.5em;
    font-size: 0.95em;
    width: 15em;
    text-align: center;
    border-radius: 0.5em;
    border: 1px lightgray solid;
  } */
}